
<head>
    <link href="~/Content/home.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
</head>

<body>
    <div id="homeMainDiv">
        <h3 id="homeTitle">DANAS U GRADU:</h3>

        @foreach (var entry in ViewBag.EventsToday)
        {
            <div class="sportCard">
                <label>@entry.Sport.Name</label>
            </div>
        }
    </div>
</body>

